<div class="action-block">
  <form class="form" action="content-summary-submitted" method="post">
    <button class="govuk-button action-button govuk-!-margin-bottom-4">Submit for 2i review</button>
     <a href="preview" role="button" class="govuk-button secondary-button action-button">
       Preview
      </a>
    <p class="govuk-!-margin-bottom-0">
      <a href="publish" role="button" class="govuk-link govuk-link--no-visited-state">
       Publish
      </a>
      <a href="#" role="button" class="destructive-link destructive-link--right">
       Delete draft
      </a>
    </p>
  </form> 

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <details class="govuk-details govuk-!-margin-bottom-0">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Schedule
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
            <div class="govuk-date-input" id="dob">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="schedule-date">
                    Date
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schedule-date" name="schedule-date" type="number">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="schedule-time">
                    Time
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schedule-time" name="schedule-time" type="number">
                </div>
              </div>
            </div>
          </fieldset>

        </div>
          <button type="submit" class="govuk-button">
            Save
          </button>
      </div>
    </details>
</div>

<div class="action-block govuk-!-margin-top-4">
  <p><span class="govuk-!-font-weight-bold">Status:</span> Draft</p>
  <p><span class="govuk-!-font-weight-bold">Last edited:</span><br/>9.14am on 22 August 2018 by Kamala Khan</p>
  <p><span class="govuk-!-font-weight-bold">Last public update:</span><br/>5.09pm on 21 August 2018</p>
  <p><span class="govuk-!-font-weight-bold">Created by:</span> Kamala Khan</p>
</div>
