<div class="action-block ">
  <form class="form" action="schedule" method="post">
    <button class="govuk-button action-button govuk-!-margin-bottom-4">Schedule to publish</button>
    <a href="preview" role="button" class="govuk-button secondary-button action-button">
       Preview
      </a>
    <p class="govuk-!-margin-bottom-0">
      <a href="#" role="button" class="govuk-link govuk-link--no-visited-state destructive-link">
       Delete draft
      </a>
    </p>
  </form>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <details class="govuk-details govuk-!-margin-bottom-0">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Proposed to publish at 8am on 21 March 2019
        </span>
      </summary>

       <div class="govuk-details__text">
        
        {% include "includes/time-date-component-filled.html" %}
        
          <a href="schedule" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2">
            Schedule to publish
          </a>
          <p class="govuk-!-margin-bottom-0">
            <a href="content-summary-submitted" role="button" class="govuk-link govuk-link--no-visited-state">
             Clear date
            </a>
          </p>
      </div>
    </details> 
</div>
<div class="action-block govuk-!-margin-top-4">
  <p><span class="govuk-!-font-weight-bold">Status:</span> Submitted for 2i review</p>
  <p><span class="govuk-!-font-weight-bold">Last updated:</span> 22 August 2018</p>
  <p class="govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">Created by:</span> Kamala Khan</p>
</div>
