<div class="action-block">
  <form class="form" action="preview" method="post">
    <button class="govuk-button action-button govuk-!-margin-bottom-4">Preview</button>
     <a href="content-summary-draft" role="button" class="govuk-button secondary-button action-button">
       Stop scheduled publishing
      </a>
  </form>

    <details class="govuk-details govuk-!-margin-bottom-0">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Scheduled to publish:<br/>4 March 2019 – 8am
        </span>
      </summary>

      <div class="govuk-details__text">
        {% include "includes/time-date-component.html" %}

         <a href="content-summary-scheduled" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2">
          Update
        </a>
      </div>
    </details>
</div>

<div class="action-block govuk-!-margin-top-4">
  <p><span class="govuk-!-font-weight-bold">Status:</span> Scheduled to publish</p>
  <p><span class="govuk-!-font-weight-bold">Last edited:</span><br/>9.14am on 12 February 2019 by Kamala Khan</p>
  <!-- <p><span class="govuk-!-font-weight-bold">Last public update:</span><br/>5.09pm on 21 February 2019</p> -->
  <p><span class="govuk-!-font-weight-bold">Created by:</span> Kamala Khan</p>
</div>
