<div class="action-block ">
  <form class="form" action="publish" method="post">
    <button class="govuk-button action-button govuk-!-margin-bottom-4">Create new edition</button>
    <!-- <a href="#" role="button" class="govuk-button secondary-button action-button">
       View on website
      </a> -->
    <p class="govuk-!-margin-bottom-0">
      <a href="publish" role="button" class="govuk-link govuk-link--no-visited-state">
       Retire
      </a>
      <a href="#" role="button" class="govuk-link govuk-link--no-visited-state destructive-link destructive-link--right">
       Remove
      </a>
    </p>
  </form> 
</div>
<div class="action-block govuk-!-margin-top-4">
  <p><span class="govuk-!-font-weight-bold">Status:</span> Published</p>
  <p><span class="govuk-!-font-weight-bold">Last updated:</span> 22 August 2018</p>
  <p class="govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">Created by:</span> Kamala Khan</p>
</div>
