<div class="withdrawn-summary govuk-!-margin-bottom-0"> 
  <p class="govuk-!-margin-bottom-1">Scheduled to publish at {% include "includes/time-and-date.html" %}</p>
  <p class="govuk-!-margin-bottom-1">
    <a href="schedule-change-date" role="button" class="govuk-link govuk-link--no-visited-state">Change date</a>   
  </p>
  <p class="govuk-!-margin-bottom-0">
    <a href="schedule-change-date" role="button" class="govuk-link govuk-link--no-visited-state">Stop scheduled publishing</a>   
  </p>
 </div>

<div class="action-block govuk-!-margin-top-4">
  <form class="form" action="preview" method="post">
    <button class="govuk-button action-button govuk-!-margin-bottom-3">Preview</button>
  </form>
</div>

<div class="action-block govuk-!-margin-top-4">
  <p><span class="govuk-!-font-weight-bold">Status:</span> Scheduled to publish</p>
  <p><span class="govuk-!-font-weight-bold">Last edited:</span><br/>9.14am on 12 February 2019 by Kamala Khan</p>
  <!-- <p><span class="govuk-!-font-weight-bold">Last public update:</span><br/>5.09pm on 21 February 2019</p> -->
  <p><span class="govuk-!-font-weight-bold">Created by:</span> Kamala Khan</p>
</div>
