<div class="action-block">
  <form class="form" action="content-summary-submitted" method="post">
    <button class="govuk-button action-button govuk-!-margin-bottom-4">Submit for 2i review</button>
     <a href="preview" role="button" class="govuk-button secondary-button action-button">
       Preview
      </a>
    <p class="govuk-!-margin-bottom-0">
      <a href="schedule" role="button" class="govuk-link govuk-link--no-visited-state">
       Schedule
      </a>
      <a href="#" role="button" class="destructive-link destructive-link--right">
       Delete draft
      </a>
    </p>
  </form> 

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <details class="govuk-details govuk-!-margin-bottom-0">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Publish date:<br/>13 February 2019 – 8am
        </span>
      </summary>
    
      <div class="govuk-details__text">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
            <div class="govuk-date-input" id="date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-day" name="date-day" type="number" pattern="[0-9]*" value="13">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-month" name="date-month" type="number" pattern="[0-9]*" value="2">
                </div>
              </div>
              <div class="govuk-date-input__item govuk-!-margin-right-0">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="date-year" name="date-year" type="number" pattern="[0-9]*" value="2019">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
            <div class="govuk-date-input" id="dob">
              <div class="govuk-date-input__item govuk-!-margin-right-2">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="schedule-date">
                    Time
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-1" id="schedule-time" name="schedule-time" type="number" value="08:00">
                </div>
              </div>             
            </div>
          </fieldset>

        </div>
         <a href="content-summary-schedule" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2">
          Update
        </a>
           <p class="govuk-!-margin-bottom-0">
            <a href="content-summary-draft" role="button" class="govuk-link govuk-link--no-visited-state">
             Clear date
            </a>
          </p>
      </div>
    </details>
</div>

<div class="action-block govuk-!-margin-top-4">
  <p><span class="govuk-!-font-weight-bold">Status:</span> Draft</p>
  <p><span class="govuk-!-font-weight-bold">Last edited:</span><br/>9.14am on 12 February 2019 by Kamala Khan</p>
  <p><span class="govuk-!-font-weight-bold">Last public update:</span><br/>5.09pm on 21 February 2019</p>
  <p><span class="govuk-!-font-weight-bold">Created by:</span> Kamala Khan</p>
</div>
