<div class="govuk-header__container--full-width govuk-phase-banner app-navigation">

  <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Content publisher 
    <span class="">
      <strong class="govuk-tag govuk-phase-banner__content__tag govuk-!-margin-left-4">
      beta</strong>
    </span>
  </h4>

  <ul class="govuk-list govuk-!-margin-bottom-0 app-navigation-list">
     
      <li>
       <a href="feedback" class="govuk-link govuk-link--no-visited-state">Send us feedback</a>
     </li>
     <li>
       <a href="changelog" class="govuk-link govuk-link--no-visited-state">What’s new</a>
       <span class="notification">◉</span>
       </li>
  </ul>
</div>

<div id="modal-tooltip-example" class="example">
  <div id="modal">
    <div id="modal-content">
      You can now schedule content items
    <div class="actions">
      <a href="changelog">Read more</a>
    </div>
    
    <a class="close-modal" href="#modal-tooltip-example">&times; <span>Close<span></a>
    </div>
  </div>
</div>

