<div class="withdrawn-summary">
  <h2 class="govuk-heading-m">This news article was withdrawn on 22 August 2018</h2>
  <p>Content withdrawn because this policy is no longer supported by the government. 
  </p>
  <a href="withdraw">
      Change public explanation</span>
    </a>
</div>

<h2 class="govuk-heading-m">
  Withdrawn      
  <span class="govuk-body destructive-link--right">
    <a href="withdraw">
      Change</span>
    </a>
  </span>
</h2>
<dl class="app-check-your-answers app-check-your-answers--short content-summary">
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question no-borders">
      Public explanation
    </dt>
    <dd class="app-check-your-answers__answer no-borders">
      Content withdrawn because this policy is no longer supported by the government. 
    </dd>
  </div>
</dl>
