

      <h2 class="govuk-heading-m">
        Content      
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short content-summary">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Title
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            Ofsted launches point-in-time surveys
          </dd>
        </div>
        <div class="app-check-your-answers__contents ">
          <dt class="app-check-your-answers__question no-borders">
            Web address
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            https://gov.uk/news/ofsted-launches-point-in-time-questionnaires
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Summary
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            Surveys for boarding schools are now open for children who board at the school, their parents and residential staff. 
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Body
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            Ofsted has today (Monday 1 October) issued its annual point-in-time online surveys for boarding schools. ...
          </dd>
        </div>

      </dl>
      <h2 class="govuk-heading-m">
       Topics    
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-6">
        <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-6">
        <div class="app-check-your-answers__contents">
          Parenting, childcare and children's services <span class="taxonomy-chevron">&#8250;</span> Safeguarding and social care for children <span class="taxonomy-chevron">&#8250;</span> Children's social care providers <span class="taxonomy-chevron">&#8250;</span> Inspection of children's social care providers
        </div>
      </dl>
      </dl>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">
       Tags    
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Primary organisation
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            HM Land Registry
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Organisations
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Ministers
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Topical events
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            World locations
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
      </dl>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">
       Content settings    
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Subject matter expert
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            No subject matter expert 
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Review date
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            No review date 
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Backdate
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            No backdate
          </dd>
        </div>
      </dl>
