

      <h2 class="govuk-heading-m">
        Title, summary and body      
        <span class="govuk-body destructive-link--right">
          <a href="create-document/create-document-2">
            Change</span>
          </a>
        </span>
      </h2>
        <dl class="app-check-your-answers app-check-your-answers--short content-summary">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Title
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
           MOD launches fund to counter drone threat
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Summary
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            The MOD has launched a £2m competition for proposals to tackle the future threats of Unmanned Aerial Systems (UAS).
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Body
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            The competition, “Countering Drones - Finding and neutralising small UAS threats”, is being run by the Defence and Security Accelerator (DASA), the MOD’s innovation hub...
          </dd>
        </div>

      </dl>
      <h2 class="govuk-heading-m">
       Topics    
        <span class="govuk-body destructive-link--right">
          <a href="topics">
            Change
          </a>
        </span>
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-6">
        <div class="app-check-your-answers__contents">
          Parenting, childcare and children's services <span class="taxonomy-chevron">&#8250;</span> Safeguarding and social care for children 
        </div>
      </dl>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">
       Tags    
        <span class="govuk-body destructive-link--right">
          <a href="tags">
            Change
          </a>
        </span>
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Primary organisation
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            Department of Health & Social Care
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Organisations
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Ministers
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Topical events
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            World locations
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
      </dl>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">
       Content settings    
        <span class="govuk-body destructive-link--right">
          <a href="content-settings">
            Change
          </a>
        </span>
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Access limiting
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            Public Health England
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Backdate
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            2 January 2016 – 11:00am
          </dd>
        </div>
      </dl>
