  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">New news story</h1>
      <form action="/content-summary-draft">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="title">
              Title
            </label>
            <textarea class="govuk-textarea" id="title" name="title" rows="2" aria-describedby="more-detail-hint">Ofsted launches point-in-time surveys</textarea>
          </div>

          <div class="govuk-form-group govuk-!-margin-bottom-0">
            <label class="govuk-label govuk-!-font-weight-bold" for="summary">
              Summary
            </label>
            <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="summary" name="summary" rows="4" aria-describedby="more-detail-hint">Surveys for boarding schools are now open for children who board at the school, their parents and residential staff. </textarea>
          </div>

          <div class="govuk-form-group">
            <div class="preview-toggle">
            <a href="" class="active">Edit markdown</a><a href="">Preview markdown</a>
          </div>
          <div class="markdown-editor">
            <a href="#"><img src="/public/images/heading-two.svg" alt=""></a>
            <a href=""><img src="/public/images/heading-three.svg" alt=""></a>
            <a href=""><img src="/public/images/link.svg" alt=""></a>
            <a href=""><img src="/public/images/blockquote.svg" alt=""></a>
            <a href=""><img src="/public/images/number-list.svg" alt=""></a>
            <a href=""><img src="/public/images/bullet-point.svg" alt=""></a>
            <div class="insert-dropdown">
              <a href="video-modal" data-toggle="modal" data-target="modal-dialogue-attachments">Insert attachment</a>
            </div>
          </div>
          <label class="govuk-label govuk-!-font-weight-bold" for="body">
            Body
          </label>
          <textarea class="govuk-textarea" id="body" name="body" rows="20" aria-describedby="body">




Ofsted has today (Monday 1 October) issued its annual point-in-time online surveys for boarding schools.

The surveys are for children who board at the school, their parents and residential staff.

Ofsted inspectors want to hear what they have to say about the school. Their responses will help inform future inspections.

Ofsted is asking for responses by 9 November 2018.

[Attachment:file-name.odt]

            </textarea>
          </div>
          <button class="govuk-button">Save</button>
      </form>
    </div>

  </div>