  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">New news story</h1>
      <form action="/content-summary-draft">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="title">
              Title
            </label>
            <textarea class="govuk-textarea" id="title" name="title" rows="2" aria-describedby="more-detail-hint">UK and Pacific Islands sign trade continuity agreement</textarea>
          </div>

          <div class="govuk-form-group govuk-!-margin-bottom-0">
            <label class="govuk-label govuk-!-font-weight-bold" for="summary">
              Summary
            </label>
            <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="summary" name="summary" rows="4" aria-describedby="more-detail-hint">An agreement has been signed between the UK and the Pacific Islands to maintain existing trade arrangements.</textarea>
          </div>

          <div class="govuk-form-group">
            <div class="preview-toggle">
            <a href="" class="active">Edit markdown</a><a href="">Preview markdown</a>
          </div>
          <div class="markdown-editor">
            <a href="#"><img src="/public/images/heading-two.svg" alt=""></a>
            <a href=""><img src="/public/images/heading-three.svg" alt=""></a>
            <a href=""><img src="/public/images/link.svg" alt=""></a>
            <a href=""><img src="/public/images/blockquote.svg" alt=""></a>
            <a href=""><img src="/public/images/number-list.svg" alt=""></a>
            <a href=""><img src="/public/images/bullet-point.svg" alt=""></a>
            <div class="insert-dropdown">
              <a href="create-document" data-toggle="modal" data-target="modal-dialogue-attachments">Insert attachment</a>
            </div>
          </div>
          <label class="govuk-label govuk-!-font-weight-bold" for="body">
            Body
          </label>
          <textarea class="govuk-textarea" id="body" name="body" rows="20" aria-describedby="body">




A trade continuity agreement will see British businesses and consumers benefiting from continued trading arrangements with Fiji and Papua New Guinea after the UK leaves the EU.

International Trade Secretary Dr Liam Fox signed the UK-Pacific agreement in London today (Thursday 14 March) with the Papua New Guinea and Fiji High Commissioners.

The agreement allows businesses to trade as freely as they do now, without any additional barriers or tariffs. It eliminates all tariffs on all goods imported from Fiji and Papua New Guinea into the UK and will gradually remove around 80% of tariffs on British exports to these countries.

These preferential terms are part of the UK government’s commitment to supporting developing countries to reduce poverty through trade. It will help them to grow their economies, create jobs, increase incomes and reduce reliance on overseas aid in the long-term.

International Trade Secretary Dr Liam Fox said:

“This is good news for British business and consumers who will continue to benefit from the continued supply of products, including sugar and fish.

“The agreement will also benefit thousands of people in some of the furthest reaches of the Commonwealth, with around a quarter of Fijians relying on employment through the sugar industry.”

In 2017 total trade between the UK and the region was worth around £369 million. Replicating this deal will allow the UK to continue building the trading relationship with two of the furthest reaches of Commonwealth.


[Attachment:pb13835-circus-animals-regulation-guidance.pdf]

            </textarea>
          </div>
          <button class="govuk-button">Save</button>
      </form>
    </div>

  </div>