  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">New news story</h1>
      <form action="/content-summary-draft">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="title">
              Title
            </label>
            <textarea class="govuk-textarea" id="title" name="title" rows="2" aria-describedby="more-detail-hint">MOD launches fund to counter drone threat</textarea>
          </div>

          <div class="govuk-form-group govuk-!-margin-bottom-0">
            <label class="govuk-label govuk-!-font-weight-bold" for="summary">
              Summary
            </label>
            <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="summary" name="summary" rows="4" aria-describedby="more-detail-hint">The MOD has launched a £2m competition for proposals to tackle the future threats of Unmanned Aerial Systems (UAS).</textarea>
          </div>

          <div class="govuk-form-group">
            <div class="preview-toggle">
            <a href="" class="active">Edit markdown</a><a href="">Preview markdown</a>
          </div>
          <div class="markdown-editor">
            <a href="#"><img src="/public/images/heading-two.svg" alt=""></a>
            <a href=""><img src="/public/images/heading-three.svg" alt=""></a>
            <a href=""><img src="/public/images/link.svg" alt=""></a>
            <a href=""><img src="/public/images/blockquote.svg" alt=""></a>
            <a href=""><img src="/public/images/number-list.svg" alt=""></a>
            <a href=""><img src="/public/images/bullet-point.svg" alt=""></a>
            <div class="insert-dropdown">
              <a href="create-document" data-toggle="modal" data-target="modal-dialogue-attachments">Insert attachment</a>
            </div>
          </div>
          <label class="govuk-label govuk-!-font-weight-bold" for="body">
            Body
          </label>
          <textarea class="govuk-textarea" id="body" name="body" rows="20" aria-describedby="body">




The competition, “[Countering Drones - Finding and neutralising small UAS threats](https://www.gov.uk/government/publications/countering-drones-finding-and-neutralising-small-uas-threats)”, is being run by the Defence and Security Accelerator (DASA), the MOD’s innovation hub,

It seeks robust and cost-effective next-generation solutions to the risks posed by hostile UAS.

The MOD is looking to develop new defensive capabilities which draw upon autonomous decision-making mechanisms and networked sensing systems capable of detecting, tracking, identifying and defeating hostile UAS over complex and varied environments.

Defence Secretary Gavin Williamson said:

  “As the security threats from hostile drones are evolving at pace, it’s critical that our armed forces benefit from the very latest technology to stay ahead.

  “This competition will draw on the brightest and best of our defence industry to find innovative solutions that will ensure we are protected in the years to come.”

The competition is the latest stage in Defence Science and Technology Lab’s (Dstl) ongoing research programme into Countering UAS which has been running for ten years.

This programme has included the extensive research, testing and evaluation of the counter-UAS technology currently employed by the MOD, including the landmark series of ‘Bristow’ trials with industry in 2013.

Dstl’s Principal Engineer, David Lugton said:

  “Hostile UAS is a challenging threat in many different ways and requires cutting edge technology and well-thought-out system approaches to counter it effectively.

  “Through this competition we are looking to inspire and develop a range of solutions to mitigate the threat posed by UAS now and in the future.

  “Among the technologies we’re looking for, we’d be interested in those which can detect and track multiple threats simultaneously, with minimal human oversight, and against a broad spectrum of UAS types.”

##Funding

Phase 1, which will deliver proof of concept of the proposals, will be worth approximately £800k and is scheduled to take place from July 2019 to March 2020.

The total funding for the competition is expected to be at least £2m, split over multiple phases.

[Attachment:Info_IndustryChallenge_ExistingTechnologies_180924.pdf]


            </textarea>
          </div>
          <button class="govuk-button">Save</button>
      </form>
    </div>

  </div>