<div class="govuk-grid-column-two-thirds">
	
	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Removed – Published by mistake 
		</h3>

	    <div class="govuk-hint">
	      15 March 2019 at  9:13am by Kamala Khan
	    </div>
	
		<p> 
		Internal note <br/>	
	    Silly silly what did we do.
	    </p>

	    <p> 
		Alternative page address <br/>	
	    https://www.gov.uk/government/some-other-url-goes-here
	    </p>

	</div>	

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Withdrawn
		</h3>

	    <div class="govuk-hint">
	      10 March 2019 at  9:13am by Kamala Khan
	    </div>
	
		<p> 
		Public note: <br/>	
	    No longer government policy.
	    </p>

	</div>	

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Published with review – 4th edition
		</h3>

	    <div class="govuk-hint">
	      20 January 2018 at  11:13am by Kamala Khan
	    </div>
	</div>	

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Minor update
		</h3>

	    <div class="govuk-hint">
	      20 January 2019 at  09:04am by Firstname Lastname
	    </div>

	    <p> 	
	    There’s no change to the published information.  
	    </p>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  New edition created – 4th edition
		</h3>

	    <div class="govuk-hint">
	      15 January 2019 at  11:00am by Kamala Khan
	    </div>
	</div>

	<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Draft discarded – 3rd edition
		</h3>

	    <div class="govuk-hint">
	      12 January 2019 at  11:00pm by Firstname Lastname
	    </div>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Major update
		</h3>

	    <div class="govuk-hint">
	      12 January 2019 at  09:04am by Firstname Lastname
	    </div>

	    <p> 	
	     This is a change note. Describe the change for users. Include or refer to any new or updated information. This change note will be published on the page and emailed to subscribers. The ‘last updated’ date will change.
	    </p>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  New edition created – 3rd edition
		</h3>

	    <div class="govuk-hint">
	      12 January 2019 at  11:00am by Firstname Lastname
	    </div>
	</div>

	<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Approved
		</h3>

	    <div class="govuk-hint">
	      30 January 2019 at 4:06pm by Kamala Khan
	    </div>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Published without review
		</h3>

	    <div class="govuk-hint">
	      30 January 2019 at 8:00am by Schedule Publishing robot
	    </div>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Scheduled for 30 January 2019 at 8:00am
		</h3>

	    <div class="govuk-hint">
	      2 January 2019 at  5:45pm by Firstname Lastname
	    </div>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Delete image
		</h3>

	    <div class="govuk-hint">
	      2 January 2019 at  4:45pm by Firstname Lastname
	    </div>
	</div>
	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Remove lead image
		</h3>

	    <div class="govuk-hint">
	      2 January 2019 at  4:40pm by Firstname Lastname
	    </div>
	</div>
	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Minor update
		</h3>

	    <div class="govuk-hint">
	      2 January 2019 at  09:04am by Firstname Lastname
	    </div>

	    <p> 	
	    There’s no change to the published information.  
	    </p>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  New edition created – 2nd edition
		</h3>

	    <div class="govuk-hint">
	      2 January 2019 at  11:00am by Firstname Lastname
	    </div>
	</div>

	<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Published with review – 1st edition
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:13am by Kamala Khan
	    </div>
	</div>	


	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Internal note
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:40am by Kamala Khan
	    </div>

	    <p>
	    	An example internal note. There isn’t a word count. Should we support line breaks? Anyway here’s what it looks like when it’s quite long. The websites of all government departments and many other agencies and public bodies have been merged into GOV.UK. Here you can see all announcements, publications, statistics and consultations. Find out how government services are performing and how satisfied users are. 
	    </p>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Submitted for 2i
		</h3>

	    <div class="govuk-hint">
	      13 December 2018 at  8:13am by Kamala Khan
	    </div>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Topics updated
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  10:13am by Kamala Khan
	    </div>
	</div>
	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Lead image selected
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:13am by Kamala Khan
	    </div>
	</div>
	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Image uploaded
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:13am by Kamala Khan
	    </div>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Tags updated
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:45am by Kamala Khan
	    </div>
	</div>
	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Content updated
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:13am by Kamala Khan
	    </div>
	</div>

	<div class="app-timeline-entry govuk-!-margin-bottom-6">
	    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
	      First created
	    </h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:11am by Kamala Khan
	    </div>
	</div>
</div>

<!-- Internal note -->

<div class="govuk-grid-column-one-third">
	 
	<form action="" method="post" >
		
		<div class="govuk-form-group">
		  <label class="govuk-label govuk-!-font-weight-bold" for="more-detail">
		    Internal note
		  </label>
		  <span id="more-detail-hint" class="govuk-hint">

		  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
		</div>
<a href="#internal-note" role="button" draggable="false" class="govuk-button target-to-show--toggle">
		  Add internal note
		</a>
	</form>
		
	
</div>
