<div class="govuk-grid-column-two-thirds">


	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Tags updated
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:45am by Kamala Khan
	    </div>
	</div>
	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Content updated
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:13am by Kamala Khan
	    </div>
	</div>

	<div class="app-timeline-entry govuk-!-margin-bottom-6">
	    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
	      First created
	    </h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:11am by Kamala Khan
	    </div>
	</div>
</div>

<!-- Internal note -->

<div class="govuk-grid-column-one-third">
	 
	<form action="" method="post" >
		
		<div class="govuk-form-group">
		  <label class="govuk-label govuk-!-font-weight-bold" for="more-detail">
		    Internal note
		  </label>
		  <span id="more-detail-hint" class="govuk-hint">

		  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
		</div>
<a href="#internal-note" role="button" draggable="false" class="govuk-button target-to-show--toggle">
		  Add internal note
		</a>
	</form>
		
	
</div>
