<div class="govuk-grid-column-two-thirds">
	<h2 class="govuk-heading-m">1st edition</h2>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Internal note
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:40am by Sonia Turcotte
	    </div>

	    <p>
	    	An example internal note. There isn’t a word count. Should we support line breaks? Anyway here’s what it looks like when it’s quite long. The websites of all government departments and many other agencies and public bodies have been merged into GOV.UK. Here you can see all announcements, publications, statistics and consultations. Find out how government services are performing and how satisfied users are. 
	    </p>
	</div>

	<div class="govuk-!-margin-bottom-6">

		<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
		  Document updated
		</h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:13am by Sonia Turcotte
	    </div>
	</div>

	<div class="app-timeline-entry govuk-!-margin-bottom-6">

	    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
	      First created
	    </h3>

	    <div class="govuk-hint">
	      12 December 2018 at  9:11am by Sonia Turcotte
	    </div>
	</div>
</div>

<div class="govuk-grid-column-one-third">
	 
	<form action="" method="post" id="internal-note" class="target-to-show" novalidate>
		
		<div class="govuk-form-group">
		  <label class="govuk-label govuk-!-font-weight-bold" for="more-detail">
		    Internal note
		  </label>
		  <span id="more-detail-hint" class="govuk-hint">

		  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
		</div>

	</form>
		<a href="#internal-note" role="button" draggable="false" class="govuk-button target-to-show--toggle">
		  Add internal note
		</a>
	
</div>
