 <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
  
  <label class="govuk-label govuk-label--s" for="schedule">
    Speech date
  </label>
  <span id="schedule-hint" class="govuk-hint">
  For example, 01 08 2027
  </span>
    <div class="govuk-date-input" id="schedule">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="schedule-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="schedule-day" name="schedule-day" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="schedule-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="schedule-month" name="schedule-month" type="number" pattern="[0-9]*">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="schedule-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schedule-year" name="schedule-year" type="number" pattern="[0-9]*">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    <div class="govuk-date-input" id="dob">
      <div class="govuk-date-input__item govuk-!-margin-right-">
        {{ appTimeInput() }}
      </div>
    </div>
  </fieldset>

</div>