{% extends "layout.html" %}

{% block pageTitle %}
  Statement
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="choose-guidance-regulation-type">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/publication/new-publication" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="choose-speech-type-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Choose Guidance type
              </h1>
            </legend>    

            <div class="govuk-radios" data-module="radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-speech-type-2" name="guidance" type="radio" value="authored-article" aria-describedby="choose-speech-type-2-item-hint">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="choose-speech-type-2">
                  Guidance
                </label> <span id="choose-speech-type-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Non-statutory guidance publications. Includes: manuals, handbooks and other documents that offer advice. Do not use for: statutory guidance (use the “statutory guidance” publication type) or guidance about completing a form (attach to same publication as the form itself).
                </span> </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-speech-type-1" name="statuatory-guidance" type="radio" value="email" data-aria-controls="conditional-choose-speech-type-1">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="choose-speech-type-1">
                  Statuatory guidance
                </label> <span id="choose-speech-type-1-item-hint" class="govuk-hint govuk-radios__hint">
                  Guidance which relevant users are legally obliged to follow. (For non-statutory guidance publications, use the “guidance” sub-type).</span>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-speech-type-1" name="manuals" type="radio" value="email" data-aria-controls="conditional-choose-speech-type-1">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="choose-speech-type-1">
                  Manuals
                </label> <span id="choose-speech-type-1-item-hint" class="govuk-hint govuk-radios__hint">
                  ...??</span> 
              </div>

            
          </fieldset>
        </div>

        

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
