{% extends "layout.html" %}

{% block pageTitle %}
  Statement
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="choose-news-type">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/publication/new-publication" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="choose-speech-type-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Choose Article type
              </h1>
            </legend>    

            <div class="govuk-radios" data-module="radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-speech-type-2" name="speech-type" type="radio" value="authored-article" aria-describedby="choose-speech-type-2-item-hint">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="choose-speech-type-2">
                  Authored article
                </label> <span id="choose-speech-type-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Bylined articles writtenin the name of a minister or official, usually republished from elsewhere 
                </span> </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-speech-type-1" name="speech-type" type="radio" value="email" data-aria-controls="conditional-choose-speech-type-1">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="choose-speech-type-1">
                  Correspondence
                </label> <span id="choose-speech-type-1-item-hint" class="govuk-hint govuk-radios__hint">
                  Ministerial or departmental responses (eg to campaign letters), announcements, or statements;regularly issued circulars or bulletins (eg fire service circulars), official correspondence to professionals (eg “Dear chief planning officer” letters);letters to individuals or organisations that are published to share with a wider audience than their original recipient;online versions of e-bulletins or newsletters. Do not use for: minutes, agendas or other meeting papers. Attach them to relevant “policy detail”, “team” or “our governance” pages instead.</span> 
              </div>

            
          </fieldset>
        </div>

        

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
