{% extends "layout.html" %}

{% block pageTitle %}
  Attachments
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-publication">Back to Content Summary</a>
{% endblock %}

{% block content %}
<form action="html-attachment" class="app-c-contextual-guidance__form">

  <h1 class="govuk-heading-l">Add attachment</h1>

  <div class="govuk-grid-row">      
    <div class="govuk-grid-column-two-thirds">
        <button type="submit" class="govuk-button govuk-!-margin-right-2" data-module="govuk-button">
          HTML attachment
        </button>

        <a href="html-attachment" role="button" class="govuk-button secondary-button govuk-!-margin-right-2">File attachment</a>
        <a href="external-attachment" role="button" class="govuk-button secondary-button">External attachment</a>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">All attachments</h2>      
        <p>
          Attachments will be automatically listed on the document. 
        </p>
        <p>You can drag and drop to change the order of the attachments or use the links to move them up or down the list. </p>
    </div>  
  </div>


  <ul class="govuk-list attachment-list">
    <li>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          
          <div class="attachment-block">
            <img src="/public/images/attachment-icon.svg" alt="" class="attachment-icon-small">    
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">A title that is one line</h2>
            <p class="govuk-body-s">PDF, 153KB, 5 pages</p>
          
            <ul class="govuk-list attachment-links govuk-!-margin-bottom-0 govuk-!-padding-top-3">
              <li><a class="govuk-link" href="#">Preview</a></li>
              <li><a class="govuk-link" href="#">Edit file</a></li>
              <li><a class="govuk-link destructive-link" href="#">Delete attachment</a></li>
            </ul>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <p class="reorder"><a href="">&wedge; Move up</a></p>
          <p class="reorder"><a href="">&vee; Move down</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="govuk-grid-row"> 

        <div class="govuk-grid-column-two-thirds">
          <div class="attachment-block">
            <img src="/public/images/attachment-icon.svg" alt="" class="attachment-icon-small">    
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">A title that may be 2 lines and a title that may be 2 lines and a title that may be 2 lines</h2>
            <p class="govuk-body-s">PDF, 153KB, 5 pages</p>
            
            <ul class="govuk-list attachment-links govuk-!-margin-bottom-0">
              <li><a class="govuk-link" href="#">Preview</a></li>
              <li><a class="govuk-link" href="#">Edit file</a></li>
              <li><a class="govuk-link destructive-link" href="#">Delete attachment</a></li>
            </ul>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <p class="reorder"><a href="">&wedge; Move up</a></p>
          <p class="reorder"><a href="">&vee; Move down</a></p>

        </div>
      </div>
    </li>
  </ul>

</form>
{% endblock %}

{% block pageScripts %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( ".attachment-list" ).sortable({
        placeholder: "ui-state-highlight"
      }).disableSelection();
    } );
  </script>

  <style>
    .attachment-block {
      background-color: #fff;
    }
    .ui-state-highlight {
      height: 150px;
      width: 650px;
      background-color:	#f3f2f1;
      border: 2px dashed #b1b4b6;
    }
  </style>
{% endblock %}
