{% extends "layout.html" %}

{% block pageTitle %}
  New publications
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}
<form action="" class="app-c-contextual-guidance__form">

  <h1 class="govuk-heading-l">Add external attachment</h1>

  <div class="govuk-grid-row">      
    <div class="govuk-grid-column-two-thirds">
      <p>
        Some guidance here? 
      </p>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
          Attachment title
        </label>
        <span id="event-name-hint" class="govuk-hint">
          Use the official title of the document
        </span>
        <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
          External url
        </label>
        <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
      </div>

      <a href="attachment-details" role="button" class="govuk-button govuk-!-margin-bottom-2">Add external attachment</a>
        
    </div>
  </div>

  

</form>
{% endblock %}
