{% extends "layout.html" %}

{% block pageTitle %}
  Edit ‘Untitled document’
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-draft">Back</a>
{% endblock %}

{% block content %}

  {% include "includes/create-document.html" %}

{% endblock %}

{% block beforeBodyEnd %}
  {% call appModalDialogue({ id: "modal-dialogue-attachments"}) %}
  <h1 class="govuk-heading-l govuk-!-margin-top-4" for="video-web-address">Insert attachment</h1>
  
  <div class="grid-row govuk-!-margin-bottom-9">  
    <img src="/public/images/file-attachment-icon.png" alt="" class="attachment-icon-large">    
    <div class="govuk-!-width-three-quarters">
      <p class="govuk-!-font-size-27"><a href="">Current technologies summary document</a></p>
      <p class="govuk-!-font-size-14">PDF, 238KB, 1 page</p>
    </div>
  </div>


  <a href="create-document-2" role="button" class="govuk-button govuk-!-margin-bottom-3 govuk-!-margin-top-3">Insert attachment</a>

  
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

   <div class="govuk-!-margin-bottom-6">
      <p class=""><a href="">Current technologies summary document (PDF, 238KB, 1 page)</a></p>
  </div>
  <a href="create-document-2" role="button" class="govuk-button govuk-!-margin-bottom-9">Insert attachment as link</a>


  {% endcall %}
{% endblock %}
