{% extends "layout.html" %}

{% block pageTitle %}
  Edit ‘Untitled document’
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-draft">Back</a>
{% endblock %}

{% block content %}

  {% include "includes/create-document.html" %}

{% endblock %}

{% block beforeBodyEnd %}
  {% call appModalDialogue({ id: "modal-dialogue-attachments"}) %}
  <h1 class="govuk-heading-l govuk-!-margin-top-4" for="video-web-address">Insert attachment</h1>
  
  <img src="/public/images/file-attachment-icon.svg" alt="" class="attachment-icon">    
    <div class="attachment-metadata">
      <p><span class="govuk-!-font-weight-bold">Title:</span> Guidance on the Welfare of Wild Animals in Travelling Circuses (England) Regulations 2012 (PDF, 653KB, 95 pages) <br /><span class="govuk-!-font-weight-bold">Markdown code:</span> [Attachment:pb13835-circus-animals-regulation-guidance.pdf]</p>
    </div>

     <a href="create-document-2" role="button" class="govuk-button govuk-!-margin-bottom-9">Insert attachment</a>
  {% endcall %}
{% endblock %}
