{% extends "layout.html" %}

{% block pageTitle %}
  Edit ‘Untitled document’
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-draft">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">New news story</h1>
      <form>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="title">
              Title
            </label>
            <textarea class="govuk-textarea" id="title" name="title" rows="2" aria-describedby="more-detail-hint"></textarea>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="summary">
              Summary
            </label>
            <textarea class="govuk-textarea" id="summary" name="summary" rows="4" aria-describedby="more-detail-hint"></textarea>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="body">
              Body
            </label>
            <textarea class="govuk-textarea" id="body" name="body" rows="30" aria-describedby="more-detail-hint"></textarea>
          </div>
          <button class="govuk-button">Save</button>
      </form>
    </div>
  </div>

{% endblock %}

{% block beforeBodyEnd %}
  {% call appModalDialogue({ id: "modal-dialogue-contacts"}) %}
    <div class="govuk-form-group">
      <h2 class="govuk-heading--l">Insert contact address</h2>
      <label class="govuk-label govuk-label--s" for="primary-organisation">
        Search saved contact
      </label>
      <span id="event-name-hint" class="govuk-hint">
     Select a contact address from the GOV.UK contacts list
      </span>
      <select class="govuk-select" id="primary-organisation" name="primary-organisation">
        <option value="dwp">Department for Work and Pension</option>
        <option value="hmlr" selected>Department for Transport</option>
        <option value="dhsc">Department for Health and Social Care</option>
        <option value="nda">Nuclear Decommissioning Authority</option>
        <option value="ajc">Academy for Justice Commissioning</option>
        <option value="dsc">Department for Health and Social Care</option>
        <option value="na">Nuclear Decommissioning Authority</option>
        <option value="ac">Academy for Justice Commissioning</option>
        <option value="hsc">Department for Health and Social Care</option>
        <option value="da">Nuclear Decommissioning Authority</option>
        <option value="jc">Academy for Justice Commissioning</option>
        <option value="dhs">Department for Health and Social Care</option>
        <option value="nd">Nuclear Decommissioning Authority</option>
        <option value="aj">Academy for Justice Commissioning</option>
      </select>
    </div>

    <div class="govuk-inset-text">
      <p>Department for Transport <br/>
         Victoria Street <br/>
         London</p>
    </div>

    <div class="actions">
      <button class="govuk-button">Insert contact</button>
      <p><a href="">Edit or add new contact</a></p>
      [or]
      
      <p>If the contact you need is not available or is out of date, contact your managing editor. <a href="">Full guidance on adding or editing contacts</a>.</p>
    </div>
  {% endcall %}
{% endblock %}
