{% extends "layout.html" %}

{% block pageTitle %}
  Edit ‘Untitled document’
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/content-summary-draft">Back</a>
{% endblock %}

{% block content %}

  {% include "includes/create-document.html" %}

{% endblock %}

{% block beforeBodyEnd %}
  {% call appModalDialogue({ id: "modal-dialogue-attachments"}) %}
  <h1 class="govuk-heading-l govuk-!-margin-top-4">Insert attachment</h1>
  <div class="action-block">
    <h2 class="govuk-heading-m">Upload a file attachment</h2>
    <p>
      All files must be accessible. <a href="">Full guidance on accessible attachments.</a> Files must be uploaded in an open standards file format. For example, .odt not .docx.
    </p>

    <div class="govuk-form-group">
      <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="event-name">
        Attachment title
      </label>
      <span id="event-name-hint" class="govuk-hint">
        Use the official title of the document
      </span>
      <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
    </div>

    <a href="attachments-modal" role="button" class="govuk-button govuk-!-margin-bottom-2">Upload</a>
  </div>

  <div class="govuk-grid-row govuk-!-margin-left-1 govuk-!-margin-top-4">
    <h2 class="govuk-heading-m">Other attachments</h2>
     <img src="/public/images/file-attachment-icon.svg" alt="" class="attachment-icon">    
      <div class="attachment-metadata">
        <p><span class="govuk-!-font-weight-bold">Title:</span> Report on the profile statistics consultation case study minutes (PDF, 9.87MB) <br /><span class="govuk-!-font-weight-bold">Markdown code:</span> [Attachment:file-name.odt]</p>
      </div>
      <ul class="govuk-list attachment-links">
  <li>
    <a class="govuk-link" href="create-document-2">Insert attachment</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Preview</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Edit title</a>
  </li>
  <li>
    <a class="govuk-link destructive-link" href="#">Delete attachment</a>
  </li>
</ul>
  </div>

  {% endcall %}
{% endblock %}
