{% extends "layout.html" %}

{% block pageTitle %}
  Edit ‘Untitled document’
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link blur" href="content-summary-draft">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds blur">

      <h1 class="govuk-heading-l">New news story</h1>
      <form>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="title">
              Title
            </label>
            <textarea class="govuk-textarea" id="title" name="title" rows="2" aria-describedby="more-detail-hint"></textarea>
          </div>
    
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="summary">
              Summary
            </label>
            <textarea class="govuk-textarea" id="summary" name="summary" rows="4" aria-describedby="more-detail-hint"></textarea>
          </div>
    
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="body">
              Body
            </label>
            <textarea class="govuk-textarea" id="body" name="body" rows="30" aria-describedby="more-detail-hint"></textarea>
          </div>
          <button class="govuk-button">Save</button>
      </form>
    </div>

    <div id="modal-dialogue-image" class="example">
      <div id="modal">
        <div id="modal-content">
          <h2 class="govuk-heading-l">Images for ‘Untitled document’</h2>
          <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Upload an image</h3>
          <div class="actions">
            <input name="image" type="file" class="govuk-file-upload">
            <p class="govuk-!-margin-top-4">Images can be jpg, png, or svg files. <a href="">Full guidance on images</a></p>
            <button class="govuk-button">Upload</button>
          </div>
          <h3 class="govuk-heading-m">Choose existing image</h3>
          <img class="image-example" src="/public/images/image-example.png" alt=""></img>
          <a class="close-modal" href="#modal-tooltip-example">&times;<span>Close<span></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
