//Content summary
// Sidebar links

.related-navigation {
  border-top: 2px solid #005ea5;
  padding: 10px 0;
}

// Tabs

.govuk-tabs-nobox section{
  border: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// Table styles

.content-summary {
  border-bottom: 1px solid #bfc1c3;
  padding-bottom: 40px;
}

.no-borders {
  border-bottom: none !important;
}

// Action block

.action-block {
  background-color: #f8f8f8;
  padding: 15px;
  @include govuk-clearfix;
}

.action-button {
  width:100%;
  display:block;
}

.secondary-button {
  padding: 8px 10px;
  padding-top: 10px;
  padding-bottom: 7px;
  border-color: #00823b;
  color: #00823b;
  background-color: #ffffff;
  box-shadow: none;
}
.secondary-button:link,
.secondary-button:visited,
.secondary-button:active,
.secondary-button:focus, {
    color: #00823b;
    text-decoration: none;
    }


.secondary-button:hover {
  border-color: #00692f;
  color: #00692f;
  background-color: #f8f8f8;
  text-decoration: none;
  }

.secondary-button-quiet {
  padding: 8px 10px;
  border-color: #6f777b;
  color: #6f777b;
  background-color: #ffffff;
  box-shadow: none;
}

.secondary-button-quiet:hover {
  border-color: #636a6e;
  color: #636a6e;
  background-color: #f8f8f8;
  text-decoration: none;
  }

.secondary-button-quiet:link,
.secondary-button-quiet:visited,
.secondary-button-quiet:active,
.secondary-button-quiet:focus, {
    color: #6f777b;
    text-decoration: none;
    }


  .destructive-link, .destructive-link:visited, .destructive-link:active{
    color:  #b10e1e !important;
  }

  .destructive-link--right {
    float: right;
  }

  // Success summary
  .success-summary {
    border: 5px solid #00823b;
    padding: 15px;
    margin-bottom: 40px;
  }

  // Withdrawn summary
  .withdrawn-summary {
    border: 2px solid #005ea5;
    padding: 15px;
    margin-bottom: 40px;
  }

  // Internal notes

  .target-to-show {
  display: none;
  position: relative;

  &:target {
    display: block;
  }

  .govuk-button {
    margin-bottom: govuk-spacing(2);
  }

  &--cancel {
    position: absolute;
    right: govuk-spacing(3);
    bottom: govuk-spacing(3);
  }
}


// Preview

.preview-mobile {
  height: 85vh;
}
.preview-desktop {
  width: 100%;
}
.preview-google {
  width: 80%;
}

// Table

td {
  vertical-align: top;
}


// Navigation

// Left nav

.left-nav li{
   border-bottom: 1px solid #bfc1c3;
   padding: 10px 0;
   margin-bottom: 0;
}

.left-nav a{
  text-decoration: none;
  font-size: 16px;
}

.left-nav a:visited {
    color: #005ea5;
  }


// App nav

.app-navigation {
  display: flex;
}

.app-navigation-list li{
  display: inline;
  margin-left: 20px;
  font-size: 16px;
}

.app-navigation-list ul {
  display: inline;
}

.app-navigation-list a:visited {
    color: #005ea5;
  }

.notification {
  color: #f47738;
  font-size: 19px;
  padding: 0 0 0 5px;
  position: relative;
  top: 2px;
}

//Markdown editor

.preview-toggle {
  height: 40px;
  margin: 0 2px;
  position: relative;
  top: 124px;
  background-color: #dee0e2;
  border-bottom: 2px solid #bfc1c3;
}

.preview-toggle a{
  display: inline;
  line-height: 2.1;
  margin-left: 10px;
  font-size: 19px;
  text-decoration: none;
}

.preview-toggle .active {
  background-color: #f8f8f8;
  padding: 6px 10px 10px 10px;
  border-right: 2px solid #bfc1c3;
  margin: 0;
  text-decoration: none;
  color: #000;
}

.markdown-editor {
  height: 50px;
  margin: 0 2px;
  position: relative;
  top: 124px;
  background-color: #f8f8f8;
}

.body-editor {
  padding-top: 100px;
}

.markdown-editor img{
  height: 50px;
  position: relative;
}

.markdown-editor a {
  postion: relative;
  text-align: right;
  text-decoration: none;
  color: #000;
}

.insert-dropdown {
  position: absolute;
  right: 15px;
  top: 0;
  border-left: 4px solid #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 3;
  padding-left: 15px;
  color: 000;
}

.insert-dropdown a{
  text-decoration: none;
  color: #000;
}

.markdown-example {
  background-color: #dee0e2;
  padding: 10px;
  font-family: monospace;
  white-space: pre-line;
}

// Attachments

  #sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
  }

.attachment-block {
  border: 2px solid #b1b4b6;
  padding: 15px;
  margin-bottom: 20px
  // @include govuk-clearfix;
}

.reorder a { 
  text-decoration: none;
 }

.attachment-icon-large {
  height: 140px;
  margin-right: 15px;
  float: left;
}

.attachment-icon-small {
  height: 60px;
  margin-right: 15px;
  float: left;
}

.attachment-metadata {
   margin-left: 60px;
   margin-bottom: 40px;
}

.attachment-links li{
  display: inline;
  margin-right: 15px
}



//Footer

.govuk-footer__heading {
  border-bottom: none;
  margin-bottom: 0;
}

// Contextual guidance

.contextual-guidance {
  padding-top: 25px;
  border-top: 5px solid #ffbf47;
  margin-top: 212px !important;
}



// Topics

.topics-multiselect__list li {
  display: inline;
}

.tag-seperator {
  padding: 0 10px;
  color:  $govuk-border-colour;
}

// Taxonomy

.taxonomy-chevron {
  color: #6f777b;
  padding: 0 5px;
}


// Tags

//Autocomplete

.autocomplete__option {
  @include govuk-font($size: 19);
}
.app-multiselect__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    @include govuk-font($size: 19);
    padding: 2px govuk-spacing(1) 0;
    margin-top: govuk-spacing(2);
    border: 1px solid $govuk-border-colour;
    background: govuk-colour("grey-4");
    a {
      @include govuk-font($size: 24, $line-height: 1);
      text-decoration: none;
      color: $govuk-text-colour;
      vertical-align: bottom;
    }
  }
}

.govuk-link--active-page {
  color: $govuk-text-colour !important;
  font-weight: bold;
}

.app-date-input {
  width: 214px;
}

.app-select--time {
  @include govuk-font($size: 19, $tabular: true);
  width: 230px;
  border-radius: 0;
}
