// Action block

.action-block {
  background-color: #f8f8f8;
  padding: 20px;
  @include govuk-clearfix;
}

.action-button {
  width:100%;
  display:block;
}

.secondary-button {
  padding: 8px 10px;
  padding-top: 10px;
  padding-bottom: 7px;
  border-color: #00823b;
  color: #00823b;
  background-color: #ffffff;
  box-shadow: none;
}
.secondary-button:link,
.secondary-button:visited,
.secondary-button:active,
.secondary-button:focus, {
    color: #00823b;
    text-decoration: none;
    }


.secondary-button:hover {
  border-color: #00692f;
  color: #00692f;
  background-color: #f8f8f8;
  text-decoration: none;
  }

.secondary-button-quiet {
  padding: 8px 10px;
  border-color: #6f777b;
  color: #6f777b;
  background-color: #ffffff;
  box-shadow: none;
}

.secondary-button-quiet:hover {
  border-color: #636a6e;
  color: #636a6e;
  background-color: #f8f8f8;
  text-decoration: none;
  }

.secondary-button-quiet:link,
.secondary-button-quiet:visited,
.secondary-button-quiet:active,
.secondary-button-quiet:focus, {
    color: #6f777b;
    text-decoration: none;
    }


  .destructive-link, .destructive-link:visited {
    color: #b10e1e;
  }

  .destructive-link--right {
    float: right;
  }

  // Success summary
  .success-summary {
    border: 5px solid #00823b;
    padding: 15px;
    margin-bottom: 40px;
  }


  // Preview

  .preview-mobile {
    height: 85vh;
  }
  .preview-desktop {
    width: 100%;
  }
  .preview-google {
    width: 80%;
  }

// Table

  td {
    vertical-align: top;
  }



// Navigation

//Left nav
.left-nav li{
   border-bottom: 1px solid #bfc1c3;
   padding: 10px 0;
   margin-bottom: 0;
}

.left-nav a{
  text-decoration: none;
  font-size: 16px;
}

.left-nav a:visited {
    color: #005ea5;
  }


// App nav
.app-navigation {
  display: flex;
}

.app-navigation-list li{
  display: inline;
  margin-left: 20px;
  font-size: 16px;
}

.app-navigation-list ul {
  display: inline;
}

.app-navigation-list a:visited {
    color: #005ea5;
  }

.notification {
  color: #f47738;
  font-size: 19px;
  padding: 0 0 0 5px;
  position: relative;
  top: 2px;
}

// Modal tooltip
#modal-tooltip-example #modal {
  position: relative;
  z-index: 10;
  top: 50px;
  bottom: 0;
  left: 379px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  visibility: hidden;
}
#modal-tooltip-example #modal-content {
  position: absolute;
  font-family: "nta", sans-serif;
  background: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding: 11px 55px 9px 15px;
  box-shadow: 0 5px 0 rgba(0,0,0,0.1);
}

#modal-tooltip-example #modal-content:after {
  content: ".";
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  color: transparent;
  overflow: hidden;
  top: -5px;
  left: 50%;
  margin-left: -6px;
  transform: rotate(45deg);
}
#modal-tooltip-example #modal-content .actions {
  padding: 10px 0;
}


#modal-tooltip-example #modal-content .actions a{
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

#modal-tooltip-example .close-modal {
  position: absolute;
  overflow: hidden;
  width: 40px;
  height: 30px;
  padding: 9px 0 1px;
  top: 0;
  right: 0;
  color: white;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
}
#modal-tooltip-example .close-modal:hover {
  background: #333;
}
#modal-tooltip-example .close-modal:focus {
  background: orange;
  outline: none;
}
#modal-tooltip-example .close-modal span {
  position: absolute;
  top: -100px;
  left: -1000%;
}

//Footer
.govuk-footer__heading {
  border-bottom: none;
  margin-bottom: 0;
}

// Contextual guidance

.contextual-guidance {
  padding-top: 25px;
  border-top: 5px solid #ffbf47;
  margin-top: 212px !important;
}

// Topics

.topics-multiselect__list li {
  display: inline;
}

.tag-seperator {
  padding: 0 10px;
  color:  $govuk-border-colour;
}


// Tags

//Autocomplete

.autocomplete__option {
  @include govuk-font($size: 19);
}
.app-multiselect__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    @include govuk-font($size: 19);
    padding: 2px govuk-spacing(1) 0;
    margin-top: govuk-spacing(2);
    border: 1px solid $govuk-border-colour;
    background: govuk-colour("grey-4");
    a {
      @include govuk-font($size: 24, $line-height: 1);
      text-decoration: none;
      color: $govuk-text-colour;
      vertical-align: bottom;
    }
  }
}

.govuk-link--active-page {
  color: $govuk-text-colour !important;
  font-weight: bold;
}
