// Action block

.action-block {
  background-color: #f8f8f8; 
  padding: 20px;
  @include govuk-clearfix;
}

.action-button {
  width:100%;
  display:block;
}

.secondary-button {
  padding: 8px 10px;
  padding-top: 10px;
  padding-bottom: 7px;
  border-color: #00823b;
  color: #00823b;
  background-color: #ffffff;
  box-shadow: none;
}
.secondary-button:link, 
.secondary-button:visited, 
.secondary-button:active,
.secondary-button:focus, {
    color: #00823b;
    text-decoration: none;
    }


.secondary-button:hover {
  border-color: #00692f;
  color: #00692f;
  background-color: #f8f8f8;
  text-decoration: none;
  }

.secondary-button-quiet {
  padding: 8px 10px;
  border-color: #6f777b;
  color: #6f777b;
  background-color: #ffffff;
  box-shadow: none;
}

.secondary-button-quiet:hover {
  border-color: #636a6e;
  color: #636a6e;
  background-color: #f8f8f8;
  text-decoration: none;
  }

.secondary-button-quiet:link, 
.secondary-button-quiet:visited, 
.secondary-button-quiet:active,
.secondary-button-quiet:focus, {
    color: #6f777b;
    text-decoration: none;
    }


  .destructive-link, .destructive-link:visited {
    color: #b10e1e;
  }

  .destructive-link--right {
    float: right;
  }

  // Success summary 
  .success-summary {
    border: 5px solid #00823b;
    padding: 15px; 
    margin-bottom: 40px;
  }


  // Preview

  .preview-mobile {
    height: 85vh;
  }
  .preview-desktop {
    width: 100%;
  }
  .preview-google {
    width: 80%;
  }

// Autocomplete

.autocomplete__option {
  @include govuk-font($size: 19);
}
.app-multiselect__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    @include govuk-font($size: 19);
    padding: 2px govuk-spacing(1) 0;
    margin-top: govuk-spacing(2);
    border: 1px solid $govuk-border-colour;
    background: govuk-colour("grey-4");
    a {
      @include govuk-font($size: 24, $line-height: 1);
      text-decoration: none;
      color: $govuk-text-colour;
      vertical-align: bottom;
    }
  }
}
