{% extends "layout.html" %}

{% block pageTitle %}
  What is the content for?
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="choose-news-type">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="statement-steps-1" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="choose-speech-type-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Statement
              </h1>
            </legend>    

            <div class="govuk-radios" data-module="radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-speech-type-3" name="speech-type" type="radio" value="govuk-verify" aria-describedby="choose-speech-type-3-item-hint">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="choose-speech-type-3">
                  Authored article
                </label> <span id="choose-speech-type-3-item-hint" class="govuk-hint govuk-radios__hint">
                  Bylined articles written in the name of a minister or official, usually re-published from elsewhere.
                </span> 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-speech-type-2" name="speech-type" type="radio" value="govuk-verify" aria-describedby="choose-speech-type-2-item-hint">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="choose-speech-type-2">
                  Oral statement to parliament
                </label> <span id="choose-speech-type-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Very significant oral statements made to Parliament by a minister. 
                </span> </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-speech-type-1" name="speech-type" type="radio" value="email" data-aria-controls="conditional-choose-speech-type-1">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="choose-speech-type-1">
                  Written statement to parliament
                </label> <span id="choose-speech-type-1-item-hint" class="govuk-hint govuk-radios__hint">
                  Very significant written statements given to Parliament by a minister.</span> 
              </div>

            
          </fieldset>
        </div>

        

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
