{% extends "layout.html" %}

{% block pageTitle %}
  New news story
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Speech</span>
      <h1 class="govuk-heading-l">
        {{ data['title'] }}
      </h2>
    </div>
  </div>


<div class="govuk-tabs govuk-tabs-nobox" data-module="tabs">
    
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#document-summary">
        Document summary
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#document-history">
        Document history
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="document-summary">  

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        Content      
        <span class="govuk-body destructive-link--right">
          <a href="/speech/speech-steps-1">
            Change</span>
          </a>
        </span>
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short content-summary">

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Title
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            {{ data['title'] }}
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Summary
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            {{ data['summary'] }} 
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Body
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            Mr Speaker, with permission, I would like to make a statement on the current climate change protests and on our climate change policy. I apologise to Members...
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
       Statement details    
        <span class="govuk-body destructive-link--right">
          <a href="/speech/speech-steps-2-filled">
            Change
          </a>
        </span>
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Speaker
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            The Rt Hon Claire Perry  MP, Minister of State for Climate Change and Industry (12 June 2017 to 08 January 2018), Department for Business, Energy &amp; Industrial Strategy
           </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Date
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            2 April 2019
          </dd>
        </div>
      </dl>
      <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-6 content-summary">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Speech type
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            Transcript 
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link destructive-link--right" href="choose-speech-type">
                Change
                <span class="govuk-visually-hidden">Speech type</span>
              </a>
            </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">
       Topics    
        <span class="govuk-body destructive-link--right">
          <a href="topics">
            Change
          </a>
        </span>
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-6">
        <div class="app-check-your-answers__contents">
          No topics selected
        </div>
      </dl>
      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">
       Tags    
        <span class="govuk-body destructive-link--right">
          <a href="tags">
            Change
          </a>
        </span>
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Primary organisation
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            Department for Work and Pensions
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Organisations
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Topical events
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            World locations
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            none
          </dd>
        </div>
      </dl>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">
       Content settings    
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Access limiting
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            None 
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link destructive-link--right" href="access-limit">
                Change
                <span class="govuk-visually-hidden">Access limiting</span>
              </a>
            </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question no-borders">
            Backdate
          </dt>
          <dd class="app-check-your-answers__answer no-borders">
            No backdate
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link destructive-link--right" href="backdate">
                Change
                <span class="govuk-visually-hidden">Backdate</span>
              </a>
            </dd>
        </div>
      </dl>

      </div>
       
     <div class="govuk-grid-column-one-third">
       {% include "includes/action-block-draft.html" %}
     </div>

    </div>

  </section>

  <section class="govuk-tabs__panel" id="document-history"> 
   <div class="govuk-grid-row"> 
       {% include "includes/document-history.html" %}
   </div>
  </section> 

</div>

{% endblock %}
