 
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Speeches
      </h1>
      <h2 class="govuk-heading-s">v1 – <a href="/speech/what-is-content-for">Additional page to select Speech type paired with long form</a></h2>
      <p>Choose Speech > Transcript</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-s">v2 – <a href="/speech/what-is-content-for">Speech type as input and multi-step form</a></h2>
      <p>Choose Statement</p>
     
    </div>
  </div>

{% endblock %}
