 
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Speeches
      </h1>
      <h2 class="govuk-heading-s">v1 – <a href="">Additional page to select Speech type paired with long form</a></h2>
      <h2 class="govuk-heading-s">v2 – <a href="">Speech type as input and multi-step form</a></h2>

     
    </div>
  </div>

{% endblock %}
