{% extends "layout.html" %}

{% block pageTitle %}
  Statement details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/speech/speech-steps-1">Back</a>
{% endblock %}

{% block content %}
<form action="/speech/content-summary-statement" class="app-c-contextual-guidance__form">
  <h1 class="govuk-heading-l">Details for ‘{{ data['title'] }}’</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="speaker">
          Speaker
        </label>
        <select class="govuk-select" id="speaker" name="speaker">
          {% include "includes/speaker-data.html" %}
        </select>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-1" name="organisation" type="checkbox" value="hmrc">
              <label class="govuk-label govuk-checkboxes__label" for="speaker-no-profile">
                Speaker does not have profile on GOV.UK
              </label> 
            </div>
            
          </div>
        </fieldset>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <p>Lead image is set to speaker profile. If the Speaker does not have a profile, the default image for the primary organisation will be used.</p>

        <img src="/public/images/number10.jpg" alt="" style="width: 50%">
      </div>

    </div>
  </div> 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% include "includes/date-component.html" %}
    </div>
  </div>

  <button class="govuk-button">Save</button>

</form>
{% endblock %}
