{% extends "layout.html" %}

{% block pageTitle %}
  Speech details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/speech/speech-steps-1">Back</a>
{% endblock %}

{% block content %}
<form action="/speech/content-summary-speech" class="app-c-contextual-guidance__form">
  <h1 class="govuk-heading-l">Speech details</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="speaker">
          Speaker
        </label>
        <input class="govuk-input" id="speaker-name" name="speaker-name" type="text" data-contextual-guidance="speaker-guidance">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-1" name="organisation" type="checkbox" value="hmrc" checked>
              <label class="govuk-label govuk-checkboxes__label" for="speaker-no-profile">
                Speaker without profile
              </label> 
            </div>  
          </div>
        </fieldset>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">
        <div class="app-c-contextual-guidance__wrapper" id="speaker-guidance" data-module="contextual-guidance">
          <div class="app-c-contextual-guidance">
            <h2 class="govuk-heading-s">Speaker guidance</h2>
            <p class="govuk-body">Something about speaker profiles, maybe linking off to how to add them and any other needed information.</p>
          </div>
        </div>
      </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% include "includes/date-component.html" %}
    </div>
  </div>

  <button class="govuk-button">Save</button>

</form>
{% endblock %}
