{% extends "layout.html" %}

{% block pageTitle %}
  New Speech
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">New transcript</h1>
      <form action="/content-summary-draft">
          <div class="govuk-form-group govuk-!-margin-bottom-8">
            <label class="govuk-label govuk-!-font-weight-bold" for="title">
              Title
            </label>
            <textarea class="govuk-textarea" id="title" name="title" rows="2" aria-describedby="more-detail-hint"></textarea>
          </div>

          <div class="govuk-inset-text govuk-!-margin-bottom-8">
            <span class="govuk-!-font-weight-bold">Page address</span> <br />
            You haven't entered a title yet.
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="summary">
              Summary
            </label>
            <textarea class="govuk-textarea govuk-!-margin-bottom-0" id="summary" name="summary" rows="4" aria-describedby="more-detail-hint"></textarea>
          </div>

          <div class="govuk-form-group">
            <div class="preview-toggle">
            <a href="" class="active">Edit markdown</a><a href="">Preview markdown</a>
          </div>
          <div class="markdown-editor">
            <a href="#"><img src="/public/images/heading-two.svg" alt=""></a>
            <a href=""><img src="/public/images/heading-three.svg" alt=""></a>
            <a href=""><img src="/public/images/link.svg" alt=""></a>
            <a href=""><img src="/public/images/blockquote.svg" alt=""></a>
            <a href=""><img src="/public/images/number-list.svg" alt=""></a>
            <a href=""><img src="/public/images/bullet-point.svg" alt=""></a>
            <div class="insert-dropdown">
              <a href="">Insert ...</a>
            </div>
          </div>
          <label class="govuk-label govuk-!-font-weight-bold" for="body">
            Body
          </label>
          <textarea class="govuk-textarea" id="body" name="body" rows="20" aria-describedby="body">


          </textarea>

          </div>
          <button class="govuk-button">Save</button>
      </form>
    </div>

  </div>

{% endblock %}
