{% extends "layout.html" %}

{% block pageTitle %}
  
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      {% include "includes/left-nav.html" %}
    </div>

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        What the Beta can and cannot do
      </h1>
      <span class="govuk-hint govuk-!-margin-bottom-6">Last updated: xx Month 2018</span>
      
      <p>The Content publisher beta tool can be used to publish the following document types:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>News stories</li>
        <li>Press releases</li>
      </ul>

      <p>
      Content created in Content publisher cannot be edited in Whitehall publisher. Whitehall content cannot be edited in Content publisher. 
      </p>
      <p>Some features are not yet available:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>scheduling</li>
        <li>access limiting</li>
        <li>translations</li>
        <li>contact embeds</li>
        <li>unpublishing content (available on request)</li>
        <li> withdrawing content (available on request)</li>
      </ul>

      {% include "includes/contact.html" %}

    </div>
  </div>

{% endblock %}
