{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Content has been force published
        </h1>
      </div>

        <p class="govuk-body-l govuk-!-margin-top-6">
          <span class="govuk-!-font-weight-bold">‘Education standards continue to rise at GCSE and A level’</span> has been published on GOV.UK.
        </p>
        
        <p>It still needs to be approved as soon as possible.</p>
        <p><a href="">Copy link</a> and send it to another publisher for them to review and approve it.</p>
        <div class="govuk-inset-text">
          https://www.gov.uk/government/news/education-standards-continue-to-rise-at-gcse-and-a-level
        </div>

        <!-- <button type="submit" class="govuk-button secondary-button-quiet">
          Copy link
        </button> -->

         <p><a href="">Return to dashboard</a></p>

    </div>
  </div>

{% endblock %}
