{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-forcepublished">Return to dashboard</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Content has been force published
          </h1>
         <!--  <div class="govuk-panel__body">
            ‘Xxxxxx xxx xxxxxx XXX xxxxx xx xxxxxxxx’ has been published on GOV.UK
          </div> -->
        </div>
        <p>
         ‘Giant crane to bring the Windscale Pile One chimney down’ has been published on GOV.UK.
        </p>
        <!-- <p class="govuk-body">
          It may take 5 minutes to appear live.
        </p> -->
        <p class="govuk-heading-m">What happens next</p>
        
        <p>It still needs to be 2i reviewed as soon as possible. Send it to another publisher for them to review and approve it.</p>
        <div class="govuk-inset-text">
          https://content-publisher.integration.publishing.service.gov.uk/documents/giant-crane-to-bring-the-windscale-pile-one-chimney-down
        </div>

        <button type="submit" class="govuk-button secondary-button-quiet">
          Copy link
        </button>
     
        

    </div>
  </div>

{% endblock %}
