{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-submitted">Return to dashboard</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Content has been force published
        </h1>

        <p>
         ‘Giant crane to bring the Windscale Pile One chimney down’ has been published on GOV.UK.
        </p>
        
        <p>It still needs to be reviewed as soon as possible.</p>
        
        <div class="govuk-inset-text">
          https://content-publisher.integration.publishing.service.gov.uk/documents/giant-crane-to-bring-the-windscale-pile-one-chimney-down
        </div>

        <button type="submit" class="govuk-button secondary-button-quiet">
          Copy link
        </button>
        <p>Send it to another publisher for them to review and approve it.</p>
         <p class="govuk-body">
          It may take 5 minutes to appear live.
        </p>

    </div>
  </div>

{% endblock %}
