{% extends "layout.html" %}

{% block pageTitle %}
  New news story
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {% include "includes/content-summary-title.html" %}
    </div>
  </div>


<div class="govuk-tabs govuk-tabs-nobox" data-module="tabs">
    
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#document-summary">
        Document summary
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#document-history">
        Document history
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="document-summary">  

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">
      {% include "includes/content-summary-body.html" %}
      </div>
       
     <div class="govuk-grid-column-one-third">
       {% include "includes/action-block-draft.html" %}
     </div>

    </div>

  </section>

  <section class="govuk-tabs__panel" id="document-history"> 
   <div class="govuk-grid-row"> 
       {% include "includes/document-history.html" %}
   </div>
  </section> 

</div>

{% endblock %}
