{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">News story</span>
      <h1 class="govuk-heading-xl">
        Giant crane to bring the Windscale Pile One chimney down
      </h2>

      <h2 class="govuk-heading-m">
        Title, summary and body      
        <span class="govuk-body destructive-link--right">
          <a href="">
            Edit content</span>
          </a>
        </span>
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Title
          </dt>
          <dd class="app-check-your-answers__answer">
            Giant crane to help bring historic chimney down
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Summary
          </dt>
          <dd class="app-check-your-answers__answer">
            Preparations to pull down the Windscale Pile One chimney are now complete.
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Body
          </dt>
          <dd class="app-check-your-answers__answer">
            The 110m structure – the scene of Britain’s worst nuclear accident – will begin to disappear later this year...
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
       Tags    
        <span class="govuk-body destructive-link--right">
          <a href="tags">
            Edit tags
          </a>
        </span>
      </h2>
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Primary organisation
          </dt>
          <dd class="app-check-your-answers__answer">
            Sellafield Ltd
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Organisations
          </dt>
          <dd class="app-check-your-answers__answer">
            Nuclear Decommissioning Authority
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Ministers
          </dt>
          <dd class="app-check-your-answers__answer">
            none
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Topical events
          </dt>
          <dd class="app-check-your-answers__answer">
            none
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            World locations
          </dt>
          <dd class="app-check-your-answers__answer">
            none
          </dd>
        </div>
      </dl>

    </div>
    
    <div class="govuk-grid-column-one-third">
      {% include "includes/action-block-submitted.html" %}
    </div>

    </div>
  </div>

{% endblock %}
