{% extends "layout.html" %}

{% block pageTitle %}
  Content settings
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-draft">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Content settings</h1>
        
      <form class="form" action="content-summary-draft-topic" method="post">
        
        <!-- <div class="govuk-form-group">

          <label class="govuk-label govuk-!-font-weight-bold" for="name">
            Subject matter expert
          </label>
           <span class="govuk-hint">Policy person or team who must check the accuracy of this content </span>
          <input class="govuk-input" id="name" name="name" type="text">
        </div>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

        <div class="govuk-form-group">
          <h2 class="govuk-heading-m">
            Backdate old content
          </h2>
          <p>If content has previously been available on another website you must set the original publication date back to when it was first published online.</p>

          <fieldset class="govuk-fieldset" aria-describedby="date-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-label govuk-!-font-weight-bold">
                Original publication date
              </h2>
              <span id="time-hint" class="govuk-hint govuk-!-margin-bottom-0">
              Use 24-hour time. For example, 14:30
            </span>
            </legend>
           
            <div class="govuk-date-input" id="date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-day" name="date-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-month" name="date-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-year" name="date-year" type="number" pattern="[0-9]*">
                </div>
              </div>
              <span class="govuk-body-l govuk-!-margin-right-3">–</span>
              <div class="govuk-date-input__item govuk-!-margin-right-1">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="schedule-date">
                    Hour
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schedule-date" name="schedule-date" type="number">
                </div>
              </div>
              <span class="govuk-body-l govuk-!-margin-right-1">:</span>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="schedule-time">
                    Minute
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schedule-time" name="schedule-time" type="number">
                </div>
              </div>
            </div>
          </fieldset>    
        </div>  

        <button class="govuk-button">Save</button>
        
        
      </form>

    </div>
  </div>

{% endblock %}
