{% extends "layout.html" %}

{% block pageTitle %}
  Content settings
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-draft">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Content settings
      </h1>

      <form class="form" action="content-summary-draft-topic" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="date-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h2 class="govuk-fieldset__heading">
                Backdate
              </h2>
            </legend>
            <div class="govuk-date-input" id="date">

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-day" name="date-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-month" name="date-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-year" name="date-year" type="number" pattern="[0-9]*">
                </div>
              </div>
              <span class="govuk-body-l govuk-!-margin-right-2">–</span>
              <div class="govuk-date-input__item govuk-!-margin-right-2">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="schedule-date">
                    Hour
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schedule-date" name="schedule-date" type="number">
                </div>
              </div>
              <span class="govuk-body-l govuk-!-margin-right-2">:</span>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="schedule-time">
                    Minute
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="schedule-time" name="schedule-time" type="number">
                </div>
              </div>
            </div>

          </fieldset>    
        </div>  

        <button class="govuk-button">Save</button>
        <p>
          <a href="content-summary-draft" role="button" class="govuk-link govuk-link--no-visited-state">Clear date</a>
        </p>
        
      </form>

    </div>
  </div>

{% endblock %}
