{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block content %}

 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  {% include "includes/content-summary-title.html" %}
  </div>
</div>


<div class="govuk-tabs govuk-tabs-nobox" data-module="tabs">
    
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#document-summary">
        Document summary
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#document-history">
        Document history
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="document-summary">  

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds">

         <div class="success-summary">

            <h2 class="govuk-heading-m">Content has been submitted for 2i review</h2>
            <p>Send this document to another publisher for them to review. When content is ready you or they can publish it.
            </p>
            <p>
              <a href="">https://content-publisher.integration.publishing.service.gov.uk/documents/giant-crane-to-bring-the-windscale-pile-one-chimney-down</a>
            </p>
            <button class="govuk-button secondary-button-quiet govuk-!-margin-bottom-2">Copy link</button>

          </div>
        {% include "includes/content-summary-body.html" %}
      </div>
       
     <div class="govuk-grid-column-one-third">
       {% include "includes/action-block-submitted.html" %}
     </div>

    </div>

  </section>

  <section class="govuk-tabs__panel" id="document-history"> 

  </section> 

</div>

{% endblock %}
