
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK Content Publisher prototype
      </h1>
      <h2 class="govuk-heading-s">Content summary</h2>
      <ul class="govuk-list govuk-list">
        <li><a href="content-summary-draft">Draft</a></li>
        <li><a href="content-summary-submitted">Submitted for 2i review</a></li>
        <li><a href="content-summary-forcepublished">Published but needs 2i review</a></li>
        <li><a href="content-summary-published">Published</a></li>
      </ul>

      <h2 class="govuk-heading-s">Publishing workflow</h2>
      <ul class="govuk-list govuk-list">
        <li><a href="preview">Preview</a></li>
        <li><a href="retire">Retire</a></li>
        <li><a href="remove">Remove</a></li>
      </ul>

      <ul class="govuk-list govuk-list">
        <li><a href="tags">Edit tags</a></li>
        <li><a href="topics">Edit topics</a></li>
      </ul>

      <h2 class="govuk-heading-s">User support funcionality</h2>
      <ul class="govuk-list govuk-list">
        <li><a href="beta">Beta explaination</a></li>
        <li><a href="changelog">Publisher updates</a></li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m">Changelog</h2>

<!-- Changelog entry v2 – Sept 2018 -->
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            September 2018
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">What we did</th>
                <th class="govuk-table__header" scope="col">Why we did it</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" width="40%" scope="row"><a href="content-summary-draft">Publish workflow:</a>  Update content
                Remove 2i option from publish flow
                </td>
                <td class="govuk-table__cell">The review option was confusingfor users in research</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">
                Add flash banners in content summary page for review step</td>
                <td class="govuk-table__cell">Make it clearer that the user still has an action to do here, rather than “submit”. No need to move the user away from the page.</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">
                Update states</td>
                <td class="govuk-table__cell">To make it clear when documents are in draft/published and needing review/reviewed</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="preview">Preview:</a>
                  <br />Make share link more visible
                </td>
                <td class="govuk-table__cell">Make it more obvious that users should share the url for review and that it will link to GOV.UK page
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="beta">Add user support functionality</a><br />
                Change alert, publisher updates, feedback and support links, etc
                </td>
                <td class="govuk-table__cell">
                  Publishers need to... <br/>
                  know any beta related limitations and guidance so that they can plan their work. <br />
                  know the history of changes to product features, interface, publishing guidance, or website design to help them understand differences.<br/>
                  be able to provide feedback and report technical problems.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>

<!-- Changelog entry v1 – August 2018 -->
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            August 2018
          </span>
        </summary>
        <div class="govuk-details__text">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">What we did</th>
                <th class="govuk-table__header" scope="col">Why we did it</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" width="40%" scope="row"><a href="https://content-publisher-prototype-v01.cloudapps.digital/content-summary-draft">Publish workflow:</a> Share for 2i, Force publish, Publish</td>
                <td class="govuk-table__cell "><p>Publishers need to...</p>
                  Submit content for 2i review so that other editors know it is ready to check and publish<br />
                  Publish 2i’d content so that it becomes available to users <br />
                  Urgently publish content so that it becomes available to users but can be 2i’d thereafter
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="https://content-publisher-prototype-v01.cloudapps.digital/preview">Preview</a> by mobile, desktop and google snippet. Shareable link.</td>
                <td class="govuk-table__cell "><p>Publishers need to...</p>
                  Review content so that they  know how it will appear to users <br />
                  Share draft content with a stakeholder so that they can check it is accurate and approved
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"><a href="https://content-publisher-prototype-v01.cloudapps.digital/tags">Tags</a></td>
                <td class="govuk-table__cell "><p>Publishers need to...</p>
                  Tag content with associations so that it is usefully organised
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
