
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Content Publisher Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK Content Publisher prototype
      </h1>
      
      <h2 class="govuk-heading-s"><a href="publication/new-publication">Choose document types</a></h2>
      <h2 class="govuk-heading-s"><a href="content-summary-draft">Content summary – News</a></h2>
      

      <ul class="govuk-list govuk-list">
        <li><a href="speech/speech-steps-1">Speech</a></li> 
        <li><a href="speech/statement-steps-1">Statement</a></li>
        <li><a href="publication/new-publication">Publication</a></li>
       
      </ul>

    </div>
  </div>

{% endblock %}
