{% extends "layout.html" %}

{% block pageTitle %}
  
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-published">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
        Only a managing editor can remove or withdraw a live page
        </h1>
        <p>If you think this content is not relevant anymore or that it shouldn’t be on GOV.UK, speak to the managing editor for your organisation.</p> 

        <p>Read the <a href="https://www.gov.uk/guidance/content-design/gov-uk-content-retention-and-withdrawal-archiving-policy">full guidance on removing (unpublishing) and withdrawing content</a></p>

      </div>
    </div>


{% endblock %}
