{% extends "layout.html" %}

{% block pageTitle %}
  Preview
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Preview
      </h1>

      <div class="govuk-tabs" data-module="tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#mobile">
              Mobile
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#desktop-tablet">
              Desktop and tablet
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#google">
              Google snippet
            </a>
          </li>
         <!--  <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#email-update">
              Email update
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#govuk-feature">
              GOV.UK feature
            </a>
          </li> -->
        </ul>

        <section class="govuk-tabs__panel" id="mobile">
          <img class="preview-mobile" src="/public/images/preview-mobile-example.svg" alt="">
        </section>
        <section class="govuk-tabs__panel" id="desktop-tablet">
          <img src="/public/images/preview-desktop-example.svg" alt="">
        </section>
        <section class="govuk-tabs__panel" id="google">
           <img class="preview-google" src="/public/images/google-snippet-example.png" alt="">
        </section>
        <!-- <section class="govuk-tabs__panel" id="email-update">
        </section>
        <section class="govuk-tabs__panel" id="govuk-feature">
        </section> -->
      </div>


    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-!-font-weight-bold">Share preview</p>
      <div class="govuk-inset-text govuk-!-margin-top-0">
        https://content-publisher.integration.publishing.service.gov.uk/documents/baby-born-mid-flight-in-coastguard-helicopter
      </div>
      <button type="submit" class="govuk-button secondary-button-quiet">
      Copy link
      </button>
    </div>
  </div>

{% endblock %}
