{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <form class="form" action="confirm-publish" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Publish
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="publish-1" name="publish" type="radio" value="government-gateway" aria-describedby="publish-1-item-hint">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="publish-1">
                  Publish
                </label>
                <span id="publish-1-item-hint" class="govuk-hint govuk-radios__hint">
                  This content has been reviewed and approved for publication.
                </span>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="publish-2" name="publish" type="radio" value="govuk-verify" aria-describedby="publish-2-item-hint">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="publish-2">
                  Force publish
                </label>
                <span id="publish-2-item-hint" class="govuk-hint govuk-radios__hint">
                  This content needs to be urgently published but should be reviewed as soon as possible.
                </span>
              </div>
               <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="publish-2" name="publish" type="radio" value="govuk-verify" aria-describedby="publish-3-item-hint">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="publish-3">
                  Submit
                </label>
                <span id="publish-3-item-hint" class="govuk-hint govuk-radios__hint">
                  This content still needs to be reviewed.
                </span>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>


      </form>

    </div>
  </div>

{% endblock %}
