{% extends "layout.html" %}

{% block pageTitle %}
  Retire
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <form class="form" action="#" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Retire this document
              </h1>
            </legend>
            <p>Retired content stays online but a banner tells users it is no longer current government information. Retiring content is also known as Withdrawing.</p>
            <p><a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/unpublishing-and-archiving">Full guidance on retiring content</a></p>
            
            <div class="govuk-form-group">  
              <!-- <div class="preview-toggle govuk-!-margin-top-0 ">
                <a href="" class="active">Edit markdown</a><a href="">Preview markdown</a>
              </div>
              
              <div class="markdown-editor">
                <a href="#"><img src="/public/images/heading-two.svg" alt=""></a>
                <a href=""><img src="/public/images/heading-three.svg" alt=""></a>
                <a href=""><img src="/public/images/link.svg" alt=""></a>
                <a href=""><img src="/public/images/blockquote.svg" alt=""></a>
                <a href=""><img src="/public/images/number-list.svg" alt=""></a>
                <a href=""><img src="/public/images/bullet-point.svg" alt=""></a>
              </div> -->

              <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-8 " for="body">
               Public explanation
              </label>

              <textarea class="govuk-textarea" id="body" name="body" rows="20" aria-describedby="body"></textarea>

            </div>

          </fieldset>
        </div>

        <button class="govuk-button">Retire this document</button>
        <p><a href="content-summary-published">Cancel</a></p>


      </form>

    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
      
      <div class="contextual-guidance">
        <h2 class="govuk-heading-s">Writing public explanation</h2>
        <p>Explain to users why the page has been retired. Give details of any other content that may be relevant.</p>
      </div>

    </div>
  </div>

{% endblock %}
