{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <form class="form" action="/schedule" method="post">
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                Set a date and time to publish
              </h1>
            </legend>            
            {% include "includes/time-date-component.html" %}
            
            <div class="govuk-radios govuk-!-margin-top-8">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="set-date-to-publish" name="save" type="radio" value="save">
                <label class="govuk-label govuk-radios__label" for="set-date-to-publish-1">
                  Save proposed date and time
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="set-date-to-publish-2" name="save" type="radio" value="schedule">
                <label class="govuk-label govuk-radios__label" for="set-date-to-publish-2">
                  Schedule to publish
                </label>
              </div>             
            </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
