{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-submitted">Return to dashboard</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-panel__title">
          Content has been submitted for 2i review
        </h1>
        
         <p>
          ‘Giant crane to bring the Windscale Pile One chimney down’ has been marked as submitted to show that it is ready to be reviewed before publishing.
        </p>
        <a href="content-summary-draft">Undo</a>

        <div class="govuk-inset-text">
          https://content-publisher.integration.publishing.service.gov.uk/documents/giant-crane-to-bring-the-Windscale Pile-One-chimney-down
        </div>

        <p>Send it to another publisher for them to review. 
          When content is ready you or they can publish it.
        </p>

        <button type="submit" class="govuk-button secondary-button-quiet">
          Copy link
        </button>

    </div>

  </div>

{% endblock %}
