{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Return to dashboard</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-panel__title">
          Content has been submitted
        </h1>
        
         <p>
          ‘Education standards continue to rise at GCSE and A level’ has been marked as submitted to show that it is ready to be reviewed before publishing.
        </p>

        <div class="govuk-inset-text">
          https://content-publisher.integration.publishing.service.gov.uk/documents/2
        </div>

        <p>Send it to another publisher for them to review. 
          When content is ready you or they can publish it.
        </p>

        <button type="submit" class="govuk-button secondary-button-quiet">
          Copy link
        </button>

    </div>

  </div>

{% endblock %}
