{% extends "layout.html" %}

{% block pageTitle %}
  Topics
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-draft">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Topics</h1>

      <p>Topics help position this content in GOV.UK, they make it easier to find by relating it to existing content that is similar to it.</p>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="name">
          Search topics
        </label>
        <input class="govuk-input" id="name" name="name" type="text">
      </div>

    </div>
  </div>

  <div class="app-miller-columns" tabindex="1">
    <ul id="root">
      <li><a href="#business-and-industry">Business and industry</a></li>
      <li><a href="#corporate-information">Corporate information</a></li>
      <li>
        <a href="#crime-justice-and-law">Crime, justice and law</a>
        <ul id="crime-justice-and-law">
          <li><a href="#administrative-justice-reform">Administrative justice reform</a></li>
          <li><a href="#attorney-general-guidance-to-the-legal-profession">Attorney General guidance to the legal profession</a></li>
          <li><a href="#byelaws">Byelaws</a></li>
          <li><a href="#civil-justice-reform">Civil justice reform</a></li>
          <li><a href="#counter-terrorism">Counter-terrorism</a></li>
          <li><a href="#courts-sentencing-and-tribunals">Courts, sentencing and tribunals</a></li>
          <li><a href="#crime-prevention">Crime prevention</a></li>
          <li><a href="#criminal-justice-reform">Criminal justice reform</a></li>
          <li><a href="#criminal-record-disclosure">Criminal record disclosure</a></li>
          <li><a href="#data-protection">Data protection</a></li>
          <li><a href="#domestic-violence">Domestic violence</a></li>
          <li><a href="#family-justice-system">Family justice system</a></li>
          <li><a href="#forced-marriage">Forced marriage</a></li>
          <li><a href="#justice-system-transparency">Justice system transparency</a></li>
          <li><a href="#knife-gun-and-gang-crime">Knife, gun and gang crime</a></li>
          <li><a href="#law-and-practice">Law and practice</a></li>
          <li><a href="#legal-aid">Legal aid</a></li>
          <li><a href="#legal-aid-reform">Legal aid reform</a></li>
          <li><a href="#policing">Policing</a></li>
          <li><a href="#prisons-and-probation">Prisons and probation</a></li>
          <li><a href="#reoffending-and-rehabilitation">Reoffending and rehabilitation</a></li>
          <li><a href="#reporting-crimes-and-getting-compensation">Reporting crimes and getting compensation</a></li>
          <li><a href="#sentencing-reform">Sentencing reform</a></li>
          <li><a href="#statutory-rights">Statutory rights</a></li>
          <li><a href="#victims-of-crime">Victims of crime</a></li>
          <li><a href="#violence-against-women-and-girls">Violence against women and girls</a></li>
          <li><a href="#young-people-and-the-law">Young people and the law</a></li>
          <li><a href="#your-rights-and-the-law">Your rights and the law</a></li>
        </ul>
      </li>
      <li>
        <a href="#defence-and-armed-forces">Defence and armed forces</a>
        <ul id="defence-and-armed-forces">
          <li><a href="#armed-forces-covenant">Armed Forces Covenant</a></li>
          <li>
            <a href="#armed-forces">Armed Forces</a>
            <ul>
              <li>
                <a href="#armed-forces-and-ministry-of-defence-reform">Armed forces and Ministry of Defence reform</a>
                <ul>
                  <li>
                    <a href="#armed-forces-and-ministry-of-defence-reform">Armed forces</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#armed-forces-and-ministry-of-defence-reform">Armed forces and Ministry of Defence reform</a></li>
        </ul>
      </li>
      <li><a href="#education-training-and-skills">Education, training and skills</a></li>
      <li><a href="#entering-and-staying-in-the-uk">Entering and staying in the UK</a></li>
      <li><a href="#environment">Environment</a></li>
      <li><a href="#going-and-being-abroad">Going and being abroad</a></li>
      <li><a href="#government">Government</a></li>
      <li><a href="#health-and-social-care">Health and social care</a></li>
      <li><a href="#housing-local-and-community">Housing, local and community</a></li>
      <li><a href="#international">International</a></li>
      <li><a href="#life-circumstances">Life circumstances</a></li>
      <li><a href="#money">Money</a></li>
      <li>
        <a href="#parenting-childcare">Parenting, childcare and children's services</a>
        <ul id="parenting-childcare">
          <li><a href="#">Adoption, fostering and surrogacy</a></li>
          <li><a href="#">Childcare and early years</a></li>
          <li><a href="#">Children's health and welfare</a></li>
          <li><a href="#">Divorce, separation and legal issues</a></li>
          <li><a href="#">Financial help if you have children</a></li>
          <li><a href="#">Pregnancy and birth</a></li>
          <li><a href="#">Safeguarding and social care for children</a></li>
        </ul>
      </li>
      <li><a href="#regional-and-local-government">Regional and local government</a></li>
      <li><a href="#society-and-culture">Society and culture</a></li>
      <li><a href="#Welfare">Welfare</a></li>
      <li><a href="#work">Work</a></li>
    </ul>
  </div>

  <div class="selected-topics">
    <h2 class="govuk-heading-m">Selected topics</h2>
    <div class="app-breadcrumb govuk-breadcrumbs">No topic selected</div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-warning-text govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          The changes are made live across the site as soon as you add or remove a topic.
        </strong>
      </div>

      <div class="govuk-form-group">
        <button class="govuk-button">Save topics</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
