{% extends "layout.html" %}

{% block pageTitle %}
  Topics
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="content-summary-draft">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Topics</h1>

      <p>Topics help position this content in GOV.UK, they make it easier to find by relating it to existing content that is similar to it.</p>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="name">
          Search topics
        </label>
        <input class="govuk-input" id="name" name="name" type="text">
      </div>

    </div>
  </div>
  <div>

      <div id="content" role="main" class="content browse">


      <div class="browse-panes section" data-state="section" data-module="track-click"><div id="subsection" class="subsection-pane pane" style="display: none;"></div>
        <div id="section" class="section-pane pane with-sort root-pane">
          <ul id="armed-forces">
            <li><a href="">Armed Forces Covenant</a></li>
            <li><a href="">Armed Forces</a></li>
          </ul>

          <ul id="armed-forces-2">
            <li><a href="">Armed Forces Covenant</a></li>
            <li><a href="">Armed Forces</a></li>
          </ul>

        </div>

        <div id="root" class="pane root-pane">
          <ul>
              <li class="">
                <a href="armed-forces">Benefits</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="2" data-track-label="/browse/births-deaths-marriages" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Births, deaths, marriages and care&quot;}" href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="3" data-track-label="/browse/business" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Business and self-employed&quot;}" href="/browse/business">Business and self-employed</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="4" data-track-label="/browse/childcare-parenting" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Childcare and parenting&quot;}" href="/browse/childcare-parenting">Childcare and parenting</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="5" data-track-label="/browse/citizenship" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Citizenship and living in the UK&quot;}" href="/browse/citizenship">Citizenship and living in the UK</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="6" data-track-label="/browse/justice" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Crime, justice and the law&quot;}" href="/browse/justice">Crime, justice and the law</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="7" data-track-label="/browse/disabilities" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Disabled people&quot;}" href="/browse/disabilities">Disabled people</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="8" data-track-label="/browse/driving" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Driving and transport&quot;}" href="/browse/driving">Driving and transport</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="9" data-track-label="/browse/education" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Education and learning&quot;}" href="/browse/education">Education and learning</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="10" data-track-label="/browse/employing-people" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Employing people&quot;}" href="/browse/employing-people">Employing people</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="11" data-track-label="/browse/environment-countryside" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Environment and countryside&quot;}" href="/browse/environment-countryside">Environment and countryside</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="12" data-track-label="/browse/housing-local-services" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Housing and local services&quot;}" href="/browse/housing-local-services">Housing and local services</a>
              </li>
              <li class="active">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="13" data-track-label="/browse/tax" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Money and tax&quot;}" href="/browse/tax">Money and tax</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="14" data-track-label="/browse/abroad" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Passports, travel and living abroad&quot;}" href="/browse/abroad">Passports, travel and living abroad</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="15" data-track-label="/browse/visas-immigration" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Visas and immigration&quot;}" href="/browse/visas-immigration">Visas and immigration</a>
              </li>
              <li class="">
                <a data-track-category="firstLevelBrowseLinkClicked" data-track-action="16" data-track-label="/browse/working" data-track-options="{&quot;dimension28&quot;:&quot;16&quot;,&quot;dimension29&quot;:&quot;Working, jobs and pensions&quot;}" href="/browse/working">Working, jobs and pensions</a>
              </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
  <div>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The changes are made live across the site as soon as you add or remove a topic.
      </strong>
    </div>

    <div class="govuk-form-group">
      <button class="govuk-button">Save topics</button>
    </div>
    </div>
</div>

{% endblock %}
