{% extends "layout.html" %}

{% block pageTitle %}
  Withdraw
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <form class="form" action="content-summary-withdraw" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Withdraw ‘Document title’
              </h1>
            </legend>
            <p>Withdrawn content stays online but a banner tells users it is no longer current government information. </p>
            <p><a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/unpublishing-and-archiving">Full guidance on withdrawing content</a></p>
            
            <div class="govuk-form-group">  
              <label class="govuk-label govuk-!-font-weight-bold govuk-!-margin-top-8 " for="body">
               Public explanation
              </label>

              <textarea class="govuk-textarea" id="body" name="body" rows="10" aria-describedby="body"></textarea>

            </div>

          </fieldset>
        </div>

        <button class="govuk-button">Withdraw document</button>
        <p><a href="content-summary-published">Cancel</a></p>


      </form>

    </div>
    <div class="govuk-grid-column-one-third govuk-!-margin-top-6">
      
      <div class="contextual-guidance">
        <h2 class="govuk-heading-s">Writing public explanation</h2>
        <p>Explain to users why the page has been withdrawn. You can link to alternative content with markdown.</p>

        <p class="markdown-example">[linktext](http://www.gov.uk/example)</p>
      </div>

    </div>
  </div>

{% endblock %}
